* {
  font-family: 'Raleway', sans-serif;
}

.about {
  margin: 0 5%;
  opacity: 1;
}

.about p {
  padding-top: 2.5%;
  margin-top: 0;
  opacity: 1;
  font-size: 0.9em;
  font-weight: 300;
}

.about p:first-of-type {
  color: #226765;
  font-weight: 700;
  padding-top: 5%;
}

.about:last-child {
  padding-bottom: 5%;
}

.active {
  border-left: 5px solid #A8383B;
}

.bg-image {
  background-image: url(main-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.exp-card {
  margin-top: 5% !important;
}

.exp-card ul > li {
  display: list-item;
  list-style: disc !important;
  margin-left: 20px;
}

.exp-card-header {
  padding-bottom: 15px;
  border-bottom: 1px solid lightgray;
}

.exp-card-title {
  font-size: 1.6em;
  margin-top: 1%;
}

.exp-card-role {
  margin-top: 25px;
}

.exp-card-role span {
  font-size: 1.2em;
  font-weight: 700;
}

.projects-container {
  width: 90%;
  margin-left: 5%;
}

.project-row {
  height: 100%;
  padding: 5% 0;
}

.project-card {
  height: 100%;
}

.project-card img {
  max-height: 20%;
}

.nav-custom-style {
  background-color: white;
}

.nav-custom-style a {
  color: black;
}

.main-content-position h1 {
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
}

.section-banner {
  background-color: #A8383B;
  display: flex;
  align-items: center;
  height: 100px;
}

.section-banner span {
  color: white;
  font-size: 1.6em;
  font-weight: 300;
  padding: 0px 25px;
}

.texture-bg {
  background-image: url(texture-bg.jpg);
  background-size: cover;
  background-repeat: repeat-y;
  height: 100%;
}

@media (min-width: 600px) {
  
  .exp-card-role {
    margin-top: 0;
  }

}

@media (min-width: 992px) {

  .nav-custom-position {
    position: fixed;
    height: 100%;
    width: 15%;
  }

  .nav-header-position a {
    font-size: 1.2em;
    padding: 0 15px;
  }
  
  .nav-header-position {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    height: 100px;
    width: 100%;
  }

  .nav-custom-position li {
    display: block;
    float: none;
  }

  .main-content-position {
    width: 85%;
    margin-left: 15%;
  }

}