* {
  color: black !important;
}

body {
  background-color: aliceblue;
}

.bg-image {
  background-image: url(main-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 650px;
}

.nav-custom-style {
  background-color: white;
}

@media (min-width: 992px) {

  .nav-custom-position{
    position: fixed;
    height: 100%;
    width: 15%;
  }

  .nav-header-position a {
    font-size: 1.2em;
    padding: 0 15px;
  }
  
  .nav-header-position {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    height: 100px;
    width: 100%;
    box-shadow: 0px 0px 3px 0px rgba(255, 255, 255, 0.2);
  }

  .nav-custom-position li {
    display: block;
    float: none;
  }

  .main-content-position {
    width: 85%;
    margin-left: 15%;
  }

}